.header{
    background-color: black;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 5%;
}
.header nav ul{
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header nav ul li{
    display: inline;
}
.header nav ul li a{
    text-decoration: none;
    color: white;
}
/* about */
.about{
    margin-top: 20%;
    display: flex;
    justify-content:space-around;
}
.intro h1{
    color: maroon;
}
.intro p:nth-child(2){
    text-transform: capitalize;
    font-weight: 700;
}
.intro p:nth-child(3){
    max-width: 30rem;
}
.about img{
    border-radius: 50%;
}

.font-size{
    font-size: 1rem;
    font-weight: 900;
    color: brown;
}
.subject__style{
    text-transform: uppercase;
    color: maroon;
    text-align: center;
}
/* projects */
#projects{
    margin-top: 10%;
}
#projects h1{
    margin-bottom: 5%;
}
#projects h2{
    text-transform: capitalize;
}
.projects__dispaly{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.projects__display--pic{
    font-size: 70%;
    color: rgb(229, 86, 110);
}
.projects__dispaly > div{
    width: 80%;
    display: flex;
    gap: 3rem;
}
/* skills */
#skills{
    margin-top: 10%;
    margin-bottom: 10%;
}
.skills__sec{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}
.skill__div {
    display: flex;
    text-transform: capitalize;
    gap: 1rem;
}
.skill__div > span{
    font-weight: 700;
}
.skill__div i{
    margin-right: 5%;
}
.skills__ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    width: 10rem;
    padding: 0;
}
/* experience */
#experince span:nth-child(1){
    margin-right: 1rem;
}
#experince span:nth-child(2){
    font-weight: 600;
    font-size: 14px;
}
#experince div{
    border: 2px solid grey;
    text-align: center;
    padding: 5%;
    width: 70%;
    margin:4% auto 7% auto;
    box-sizing: border-box;
}
#experince div ul{
    text-align: left;  
}
/* contact */
#contact{
    margin-top: 10%;
}
#contact h1{
    margin-bottom: 5%;
}
.contact__info{
    display: flex;
    justify-content: space-evenly;
}
.contact__media > p + a{
    /* this is for first a link which send an email */
    text-decoration: none;
    color: rgb(72, 41, 13); 
    font-weight: 600;
}
/* here to style icons with each a links */
.contact__media > p:nth-child(3) , i {
    margin-right: 3%;
}
.contact__media > p:nth-child(3) + i ~ a{
    text-decoration: none; 
    color: rgb(72, 41, 13); 
    font-weight: 600;
}
.contact__sec{
    margin-top: 5%;
    margin-bottom: 5%;
}
.contact__sec h3{
    text-align: start;
    color: maroon;
}
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__form > div input{
    padding: 1%;
    border-radius: 5%;
    border-width: 1px;
    outline-style: none;
}
.contact__form div:nth-child(3) label{
    display: block;
}
.contact__form div:nth-child(3) textarea{
    resize: none;
}
#contact__form--btn-send{
    background-color: inherit;
    border: 3px outset maroon;
    color: maroon;
}
#contact__form--btn-reset{
    background-color: maroon;
    border: 3px inset rgb(99, 95, 95);
    color: white;
}
#contact__form--btn-send, #contact__form--btn-reset{
    cursor: pointer;
    width: 8%;
    padding: 5px;
    box-sizing: border-box;
}
hr{
    margin-top: 5%;
}





@media (min-width:551px) and (max-width:720px){
    .projects__dispaly > div{
    width: 100%;
    display: flex;
    gap: 3rem;
    }
    .skills__sec{
    display: flex;
    align-items:first baseline;
    }
    .skill__div{
      display: flex;
      flex-wrap: wrap;
    }
    #contact__form--btn-send, #contact__form--btn-reset{
    cursor: pointer;
    width: 15%;
    box-sizing: border-box;
    }
}

@media (max-width:550px){
    .about{
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
    }
   .projects__dispaly > div{
        display: flex;
        flex-direction: column;
    }
    .skills__sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__info{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }
    #contact__form--btn-send, #contact__form--btn-reset{
    cursor: pointer;
    width: 10%;
    box-sizing: border-box;
    }
}